#inventory-content {
    position: absolute;

    left: 240px;

}

.the-inventory {
    overflow-y: auto;
    /* background-color: red; */
    height: 500px;
}

.inventory {
    position: relative;
}


.head-data {
    position: relative;
    height: 60px;
    width: 600px;
    top: 10px;
    /* background-color: green; */
}

.edit-product {
    height: 40px;
    width: 150px;
    position: relative;
    left: 10px;
    color: white;
    border: none;
    font-size: 16px;
    background-color: rgb(38, 38, 144);

}




.bottom-navigator{
    display: none;
}



@media only screen and (max-width: 480px) {
    body{
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    *{
        overflow: hidden;
    }

    .top{
        background-color: grey;
        height: 100px;
        display: block;
    }


    .cart{
        display: none;
    }

    .logo{
        width: 240px;
        height: 25px;
        /* background-color: red; */
        position: relative;
        top: 15px;
    }


    


    


   


}